* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  gap: 10px;
  list-style: none;

  cursor: pointer;
  display: flex;
}

.admin-layout {
  gap: 20px;
  display: flex;
  padding: 20px;
  color: red;
}

.admin-header {
  display: flex;
  color: red;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.admin-header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.admin-header a {
  color: red;
  text-decoration: none;
}

.admin-header a.active {
  color: gold;
  font-weight: bold;
}
