.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left {
    width: 100%;
    max-width: max(30vw, 500px);
}

.place-order-left .title {
    font-size: max(2vw, 25px);
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.cart-button {
    width: 100%;
    padding: 12px;
    background: #198754;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

/* --- MOBİL REJİM (750px və aşağı) --- */
@media (max-width: 750px) {
    .place-order {
        flex-direction: column; /* SAĞ TƏRƏFİ AŞAĞI SALIR */
        gap: 30px;
        margin-top: 50px;
        padding: 0 15px;
    }

    .place-order-left, .place-order-right {
        max-width: 100%; /* Hər iki blok bütün eni tutur */
    }

    .place-order-left .title {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .cart-total {
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.05); /* Şəkildəki kimi yüngül kölgə */
    }
}